<div class="jumbotron jumbotron-fluid">
  <div class="container ">
    <h2 class="display-4 text-center">Editing <%= @user.email%></h2>
    <div class="lead d-flex justify-content-center ">
        <div class="w-50">
            <%= render 'form', locals: {user: @user}%>
        </div>
    </div>
  </div>
</div>
