    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h1 class="text-center"><%= @post.title %></h1>
        <p class="text-center"><%= distance_of_time_in_words(@post.created_at, Time.now)+ ' ago'%></p>
        <div class="text-center">
          <%= @post.body.html_safe %>
        </div>
      </div>
    </div>
