<nav class="navbar navbar-default navbar-fixed-bottom" style="background-color: #3131a3; margin-top: 20px;">
  <div class="mx-auto" style="width: 200px; color:white;">
    All rights reserved.
  </div>
</nav>